
<ion-view view-title="Definición de Sequia">
<ion-content>
<div class="list card">

  <div class="item item-avatar">
    <img src="img/sequia4.jpg">
    <h2>Sequias</h2>
    
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/sequia.jpg">
    <p>
      La sequía se define como déficit de lluvias durante un período de tiempo prolongado –una temporada, un año o varios años– en relación con la media estadística multianual de la región en cuestión. La falta de lluvia da lugar a un suministro insuficiente de agua para las plantas, los animales y los seres humanos.
    </p>
    </div>
<div class="item item-body">
    <img class="full-image" src="img/sequia2.jpg">
    <p>
    La sequía en Bolivia golpea a más de 45.860 familias y el número de focos de calor supera los 35.570
Según la ABT, los focos de calor se incrementaron hasta un 216% con relación al año pasado. Santa Cruz y Beni son los departamentos con mayor registro de focos de calor: 18.989 y 13.529, respectivamente. En contrapartida, Oruro no registró ningún foco de calor.
  </p>
  <p>
  	La sequía en el país golpeó en los últimos meses a 45.863 familias productoras, dañó 164.960 hectáreas de cultivos en 61 municipios y afectó a 28 variedades de productos sembrados; mientras, el número de focos de calor llegó a 35.574 en los primeros seis meses del año.

Los efectos de la sequía se tradujeron además en otros tipo de problemas. En Beni, por ejemplo,  originó la invasión de ratas en el municipio de Exaltación.

Cultivos de maní, papa, ají, amaranto, maíz, trigo, frejol, arveja, quinua, cebada, haba, oca, arroz, soya y chía, son los más perjudicados por la sequía, según informó el jefe de la Unidad de Contingencia Rural, del Ministerio de Desarrollo Rural y Tierras, Benito Mariscal.
  </p>
  </div>
<div class="item item-body">
    <img class="full-image" src="img/sequia3.jpg">
</div>

</ion-content>
</ion-view>