  <ion-view title="Yaku Kawsay">
  <header></header>
  <ion-content>
  <div class="item item-image">
    <img src="img/logo.jpg">
  </div>
  <div>
  <p>La sequía es uno de los grandes problemas a los que se tiene que enfrentar Bolivia en estos momentos, porque el cambio climático está haciendo estragos en diferentes sectores del país, sobre todo sectores como el agrícola y el ganadero, que están viendo cómo sus cosechas ya no producen lo mismo que hace pocos años y que los animales no encuentran alimento en la naturaleza para vivir, agua y demás. Desde luego la situación de estos dos sectores es cada vez más preocupante, sobre todo porque hay zonas del país en las que la sequía es muy importante.

</p>
  <p >....Yaku Kawsay .... 
Al servicio de la vida a traves del desarrollo de ideas innovadoras de personas emprendedoras.
Bienvenidos</p>
</div>
  <div class="item item-image">
    <img src="img/alalay.jpg">
  </div>
  <p>La laguna Alalay está ante una crisis ambiental sin precedentes en los últimos años. </p>
   <div class="item item-image">
    <img src="img/poopo.jpg">
  </div>
  <p>Las razones son complejas y van desde los efectos climatológicos y los malos manejos de los recursos acuíferos hasta la actividad humana, la contaminación y la falta de atención a un desastre que se veía venir.. </p>
 
  </ion-content>
  
  <ion-footer-bar>
     <button  ui-sref="tab.account" type="button" class="bar bar-footer bar-positive" button-outline button-positive"><center ><p>Menu</p></center>
          </button>

 </ion-footer-bar>
  </ion-view>