
<ion-view view-title="Información sobre riego">
<ion-content>
<div class="list card">
    <center><h2>Riego en Campos</h2></center>
  <div class="item item-body">
    <img class="full-image" src="img/riego.jpg">
    <center><p><h2><b>Temperatura óptima para que germinen las semillas </b></h2></p></center>

<p><b>Baja (entre 15 y 20 ºC):</b></p>
Espinacas, guisantes (chícharos), perejil


<p><b>Media (entre 20 y 25 ºC):</b></p>

Achicoria, anís, apio, cardillo, cilantro, diente de león, eneldo, escorzonera, hinojo, lechuga, rábano, rabanito, salsifí, tetrágona, tomate.

<p><b>Alta (entre 25 y 30 ºC):</b></p>

Acelga, berenjena, calabaza, cebolla, col, colinabo, chirivía, escarola, espárrago, haba, lenteja, maíz, melón, nabo, pimiento, puerro, remolacha, repollo, zanahoria.

<p><b>Muy alta (más de 30 ºC):</b></p>

Además, hay plantas que tienen mayor adaptación a uno u otro clima:

<p><b>Plantas muy resistentes a climas fríos:</b></p>

Achicoria, ajo, cardo, coles de Bruselas, chalote, espárrago, espinaca, fresa, haba, nabo, puerro, rábano, repollo y ruibarbo.

<p><b>Plantas resistentes al clima frío:</b></p>

Acedera, acelga, achicoria, alcachofa, apio, brécol, cebolla, cilantro, coliflor, diente de león, escarola, canónigos, hinojo, lechuga, mostaza, rabanitos, remolacha, salsifí, tanaceto, tupinambo y zanahoria.

<p><b>Plantas idóneas para climas templados:</b></p>

Achicoria dulce, ajedrea, albahaca, alcachofa, alubia, anís, apionabo, berro, borraja, cacahuete, calabacín, caramillo, col, eneldo, escorzonera, estragón, garbanzo, hisopo, judía verde, lenteja, mejorana, melisa, menta, orégano, patata, perejil, perifollo, romero, ruda, salvia, tomate, tomillo, verdolaga.

<p><b>Plantas idóneas para climas cálidos:</b></p>

Alcaparras, berenjenas, boniato, calabaza, melón, ocra, pepino, pimiento, sandía y tetrágona.
  
    </div>
<div class="item item-body">
    <img class="full-image" src="img/riegos.jpg">
    <p>
</ion-content>
</ion-view>