# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

### Ionic framework
platforms/
plugins/
www/cordova.js
www/lib/
www/css/
www/app/constants.js
.io-config.json